<a href="https://colab.research.google.com/github/mohit-singh4180/Machine_learning/blob/main/Classification_ANN_assignment_day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow

In [2]:
data=pd.read_csv(r"Loan-Approval-Prediction.csv")

In [3]:
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [4]:

data.dropna(inplace=True)

In [5]:
data["ApplicantIncome"]=data["ApplicantIncome"].fillna(round(data["ApplicantIncome"].mean(),1))
data["CoapplicantIncome"]=data["CoapplicantIncome"].fillna(round(data["CoapplicantIncome"].mean(),1))
data["LoanAmount"]=data["LoanAmount"].fillna(round(data["LoanAmount"].mean(),1))
data["Loan_Amount_Term"]=data["Loan_Amount_Term"].fillna(round(data["Loan_Amount_Term"].mean(),1))

In [6]:
data["Gender"].mode()[0]

'Male'

In [7]:
data["Gender"]=data["Gender"].fillna(data["Gender"].mode()[0])
data["Married"]=data["Married"].fillna(data["Married"].mode()[0])
data["Loan_Status"]=data["Loan_Status"].fillna(data["Loan_Status"].mode()[0])
data["Self_Employed"]=data["Self_Employed"].fillna(data["Self_Employed"].mode()[0])
data["Credit_History"]=data["Credit_History"].fillna(data["Credit_History"].mode()[0])
data["Education"]=data["Education"].fillna(data["Education"].mode()[0])

In [8]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y
5  LP001011   Male     Yes  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [10]:
data.drop(labels=["Loan_ID"],inplace=True,axis=1) # axis=0 ==> rows , 1 means Column

In [11]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data["Gender"]=encoder.fit_transform(data["Gender"])
data["Married"]=encoder.fit_transform(data["Married"])
data["Loan_Status"]=encoder.fit_transform(data["Loan_Status"])
data["Education"]=encoder.fit_transform(data["Education"])
data["Self_Employed"]=encoder.fit_transform(data["Self_Employed"])
data["Property_Area"]=encoder.fit_transform(data["Property_Area"])
data["Dependents"]=encoder.fit_transform(data["Dependents"])

In [12]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values
data.shape

(480, 12)

In [13]:
data.head()

   Gender  Married  Dependents  ...  Credit_History  Property_Area  Loan_Status
1       1        1           1  ...             1.0              0            0
2       1        1           0  ...             1.0              2            1
3       1        1           0  ...             1.0              2            1
4       1        0           0  ...             1.0              2            1
5       1        1           2  ...             1.0              2            1

[5 rows x 12 columns]

In [14]:
data.dtypes

Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [15]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X)
x_scaled=scaler.transform(X)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
stop=EarlyStopping(patience=4)
model=Sequential() 
model.add(Dense(35,activation="relu"))
model.add(Dense(25,activation="relu")) 
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="adam",loss="binary_crossentropy")
model.fit(X_train,y_train,epochs=50,batch_size=1,validation_data=(X_test,y_test))

Epoch 1/50
384/384 [==============================] - 3s 5ms/step - loss: 33.4586 - val_loss: 23.7795
Epoch 2/50
384/384 [==============================] - 2s 4ms/step - loss: 36.3034 - val_loss: 9.6114
Epoch 3/50
384/384 [==============================] - 2s 5ms/step - loss: 20.2377 - val_loss: 10.2290
Epoch 4/50
384/384 [==============================] - 2s 5ms/step - loss: 20.7586 - val_loss: 108.6867
Epoch 5/50
384/384 [==============================] - 1s 3ms/step - loss: 21.5970 - val_loss: 46.5152
Epoch 6/50
384/384 [==============================] - 2s 4ms/step - loss: 19.3705 - val_loss: 46.3712
Epoch 7/50
384/384 [==============================] - 2s 4ms/step - loss: 14.5748 - val_loss: 15.7140
Epoch 8/50
384/384 [==============================] - 2s 5ms/step - loss: 14.5615 - val_loss: 8.8202
Epoch 9/50
384/384 [==============================] - 2s 4ms/step - loss: 15.4366 - val_loss: 6.3377
Epoch 10/50
384/384 [==============================] - 2s 5ms/step - loss: 11.1899 - val_loss: 9.3505
Epoch 11/50
384/384 [==============================] - 2s 5ms/step - loss: 17.9787 - val_loss: 30.8493
Epoch 12/50
384/384 [==============================] - 2s 5ms/step - loss: 11.8483 - val_loss: 25.0967
Epoch 13/50
384/384 [==============================] - 1s 3ms/step - loss: 9.5668 - val_loss: 8.2172
Epoch 14/50
384/384 [==============================] - 1s 3ms/step - loss: 11.0174 - val_loss: 12.4021
Epoch 15/50
384/384 [==============================] - 1s 4ms/step - loss: 16.0824 - val_loss: 14.5934
Epoch 16/50
384/384 [==============================] - 2s 4ms/step - loss: 8.9694 - val_loss: 21.2745
Epoch 17/50
384/384 [==============================] - 2s 4ms/step - loss: 7.4583 - val_loss: 8.1384
Epoch 18/50
384/384 [==============================] - 1s 3ms/step - loss: 7.2704 - val_loss: 4.0102
Epoch 19/50
384/384 [==============================] - 2s 6ms/step - loss: 8.1461 - val_loss: 9.8439
Epoch 20/50
384/384 [==============================] - 2s 4ms/step - loss: 10.0342 - val_loss: 7.8330
Epoch 21/50
384/384 [==============================] - 1s 4ms/step - loss: 7.3898 - val_loss: 4.5374
Epoch 22/50
384/384 [==============================] - 1s 2ms/step - loss: 5.8989 - val_loss: 4.5587
Epoch 23/50
384/384 [==============================] - 1s 2ms/step - loss: 6.9580 - val_loss: 27.1161
Epoch 24/50
384/384 [==============================] - 1s 2ms/step - loss: 6.1834 - val_loss: 4.3361
Epoch 25/50
384/384 [==============================] - 1s 2ms/step - loss: 6.6739 - val_loss: 5.3973
Epoch 26/50
384/384 [==============================] - 1s 2ms/step - loss: 7.0797 - val_loss: 2.5815
Epoch 27/50
384/384 [==============================] - 1s 2ms/step - loss: 4.3496 - val_loss: 7.8050
Epoch 28/50
384/384 [==============================] - 1s 2ms/step - loss: 4.9832 - val_loss: 5.7194
Epoch 29/50
384/384 [==============================] - 1s 2ms/step - loss: 4.5917 - val_loss: 6.0957
Epoch 30/50
384/384 [==============================] - 1s 2ms/step - loss: 4.1155 - val_loss: 3.9389
Epoch 31/50
384/384 [==============================] - 1s 2ms/step - loss: 3.4690 - val_loss: 2.0511
Epoch 32/50
384/384 [==============================] - 1s 2ms/step - loss: 3.0724 - val_loss: 30.1340
Epoch 33/50
384/384 [==============================] - 1s 2ms/step - loss: 8.0712 - val_loss: 3.2349
Epoch 34/50
384/384 [==============================] - 1s 2ms/step - loss: 3.3670 - val_loss: 4.7118
Epoch 35/50
384/384 [==============================] - 1s 2ms/step - loss: 2.6345 - val_loss: 1.2645
Epoch 36/50
384/384 [==============================] - 1s 2ms/step - loss: 2.3602 - val_loss: 3.2742
Epoch 37/50
222/384 [================>.............] - ETA: 0s - loss: 2.6120

In [ ]:
model.summary()